tr:nth-child(even){
    background-color: aquamarine;
    
}

tr:nth-child(odd){
    background-color: blanchedalmond;
}




















/* th{
    background-color: rgb(221, 158, 42);
    color: azure;
}

tr{
background-color: rgb(84, 199, 118);
color: brown;
}

#first {
    background-color: brown;
    color: black;
}

#second{

    color: cyan;
} */



